body{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #E6E6E6;
}

nav {
    background-color: #6A6A66;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
    margin-left: 0;
}

nav ul{
    margin: 0;
    padding: 10px;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: white;
    line-height: 2em;
    padding: 2em 2em;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.center {
	position: relative;
	top: 40%;
	bottom: 80%;
    width: 1000px ;
    margin-left: auto;
    margin-right: auto;
}

div#center {
	text-align: center;
}

/* Banner image slider */

div#slider {
	width: 60%;
	max-width: 1000px;
}

div#slider figure {
	position: relative;
	width: 400%;
	margin: 0;
	padding: 10;
	font-size: 0;
	text-align: left;
}

div#slider figure img {
	width: 25%;
	height: 60%;
	float: left;
}

div#slider {
	width: auto;
	max-width: 1000px;
	overflow: hidden; 
}

@keyframes slidy { 
	0%  { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; } 
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; } 
}

div#slider figure {
	-webkit-position: relative;
	-webkit-width: 500%;
	-webkit-margin: 10 auto;
	-webkit-padding: 10;
	-webkit-font-size: 0;
	-webkit-left: 0;
	-webkit-text-align: left;
	-webkit-animation: 10s slidy infinite;  
}

/*Homepage blog content*/
#tableofcontents {
	margin-top: 25px;
	font-style: block italic;
	font-size: 30px;
	border-style: ridge;
	border-width: 10px;
	border-bottom-color: black;
	border-color: #E6E6E6;
}
#blog {
	margin: 25px;
	font-size: 12px;
	font-style: oblique;
}

#heading {
	margin-top: 10px;
	font-size: 18px;
	font-style: bold;
}

#body1 {
	text-align: left;
}
#timestamp {
	font-size: 10px;
	text-align: right;
	font-style: block italic;
}
}
}